# Git
.git
.gitignore
.github

# Documentation
*.md
!README.md

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# Project specific
result/
data/elasticsearch*/
data/dpr/*.tsv
data/dpr/*.gz
data/strategyqa/
data/hotpotqa/
data/2wikimultihopqa/
sgpt/

# Docker
Dockerfile.cpu
docker-compose.override.yml
.dockerignore

# Temporary files
*.tmp
*.temp
.tmp/
.temp/
